# ====================================
# Fundamental
# ====================================
* text=auto eol=lf

*.editorconfig      text eol=lf
*.prettierrc.json   text eol=lf

# ====================================
# Force LF (for UNIX scripts)
# ====================================
*.sh  text eol=lf

# ====================================
# Force CRLF (for Windows scripts)
# ====================================
*.bat text eol=crlf
*.cmd text eol=crlf

# ====================================
# Binary files
# ====================================
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.pdf binary
*.zip binary
*.exe binary
